createdAt: "2018-08-18T03:03:00.845Z"
updatedAt: "2018-08-18T03:13:13.642Z"
type: "MARKDOWN_NOTE"
folder: "077a904b40254ae1e0ad"
title: "キャリブレーション"
content: '''
  # キャリブレーション
  
  ## 自己 PR 資料
  
  ### 自分の強み
  
  
  ### やりたいこと
  
  ### これから
'''
tags: []
isStarred: false
isTrashed: false
