createdAt: "2018-07-08T09:02:28.890Z"
updatedAt: "2018-07-08T09:08:15.029Z"
type: "MARKDOWN_NOTE"
folder: "3cf6786dd6b3c73af3bd"
title: "勉強会情報"
content: '''
  # 勉強会情報
  
  - [関西フロントエンドUG - connpass](https://kfug.connpass.com/)
  - [第8回　関西DB勉強会 - connpass](https://kansaidbstudy.connpass.com/event/80572/)
  - [laravel.osaka - connpass](https://laravel.connpass.com/)
'''
tags: []
isStarred: false
isTrashed: false
